@model List<Storage>
<form method="post" data="@Model">




























    <p>
        <a href="/Cart/CartList/@Model">Купить</a>
       @* <input type="submit" value="Отправить" />*@
    </p>
</form>
