@model List<Storage>
<div>
    
    @foreach (var storage in Model)
    {
        <h1>
            @storage.Name
        </h1>
        <div>
            <div>
                @foreach (var product in storage.Products)
                {
                    <div>
                        @product.Name
                        
                    </div>
                }
            </div>
        </div>
    }
</div>







<button formaction="/Cart/CartList">SAVE MOTHER FAKA</button>