@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Магазин Peach</h1>
    <p>Список товаров</a>.</p>
</div>
<div style="display:flex; flex-direction:row; flex-wrap:wrap;">
    @foreach (var product in Model)
    {
        <div class="card" style="width: 12rem; margin-right:20px; margin-bottom:20px; box-shadow: 12px 12px 2px 1px gray;">
            <img class="card-img-top" src="~/images/@product.Image" />
            <h5 class="card-title">
                Наименование: @product.Name<br>
                Цена: @product.Price$
            </h5>
           
            @Html.ActionLink("Добавить в корзину", "AddToCart", product)
        @*    <button class="btn btn-primary" onclick="">Купить</button>*@
        </div>
    }
                @Html.ActionLink("......", "CartList", "Cart")
</div>